*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
*:focus{
    outline: none;
}
/* .navigation{
    display: flex;
    justify-content: space-between;
    height: 6rem;
    top: 0;
    z-index: 3;
    background-color: #fff;
    padding: 0 5%;
} */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}
.nav-wrapper{
    width: 70%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-img{
    height: 100%;
    margin-top: 5px;
}
.search-box{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 200px;
    height: 27px;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: capitalize;
}
.field{
    margin-top: -3vw;
}
.search-box::placeholder{
    color: rgba(0, 0, 0, 0.5);
}
.nav-items{
    height: 22px;
    position: relative;
    margin-top: -0.5vw;
}
.icon{
    height: 100%;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
}
.user-profile{
    width: 22px;
    border-radius: 50%;
}
.intro{
    color: #8e8e8e;
    color: rgba(var(--f52,142,142,142),1);
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 40px 10px;
    text-align: center;
}
.display-flex{
    display: flex;
}
.profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.picture {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    object-fit: cover;
}
.profile {
    margin: 10px 15px;
}
.profile_tag {
    font-size: 1.4rem;
}
.profile a {
    text-decoration: none;
    color: #262626;
}
.input-group .form-control{
    z-index: 0 !important;
}
footer {
    margin: 0 auto 30px auto;
    max-width: 935px;
}
footer ul { margin-bottom: 20px; }
footer ul li { 
    margin: 0 10px 10px;
} 
footer ul li a { 
    color: #385185;
}
footer .copyright { color: #808080; }
footer ul li a,
footer .copyright { 
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.register{
    display: flex;
    justify-content: center;
    padding: 0 auto;
}
.form-data form{
    background-color: #fff;
    border: 2px solid #eee;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    text-align: center;
}
.form-data form input{
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    border: 2px solid #eee;
}

.app-download { padding: 15px; }
.app-download p { padding: 10px 0; }
.app-download img { 
    height: 40px; 
    margin: 0 5px;
}

.op {
    height: 3px;
    width: 3px;
    margin: 1px;
    background-color: #262626;
    border-radius: 50%;
}
.nothing{
    margin-top: 5vw;
    text-align: center;
    align-items: center;
}

@media screen and (max-width: 767px) {
    main { margin: 30px auto 50px auto; }
    footer .copyright,
    footer ul li a { font-size: 13px; }
}

